Tenemos un archivo CSV con informaci贸n de ventas y queremos procesar este archivo para 
calcular el total de ventas para cada producto y luego queremos escribir esta informaci贸n en 
un nuevo archivo CSV.

Queremos generar un nuevo CSV 'total_ventas.csv' que muestre el total de ventas para 
cada producto.

In [1]:
# Importamos la biblioteca pandas
import pandas as pd

In [2]:
# Leemos el archivo CSV original y lo almacenamos en un DataFrame
df = pd.read_csv('./../data/ventas.csv')

In [3]:
# Mostramos el DataFrame original para revisi贸n
print("DataFrame original:")
print(df)

DataFrame original:
   Producto  Cantidad  Venta
0   Manzana        15   0.85
1   Naranja         7   0.42
2   Platano        12   1.25
3   Manzana         8   0.95
4   Naranja         3   0.68
5   Platano        10   1.10
6   Manzana        14   0.92
7   Naranja         6   0.55
8   Platano         9   1.18
9   Manzana        11   0.75
10  Naranja         5   0.63
11  Platano        13   0.98
12  Manzana         9   0.88
13  Naranja         4   0.50
14  Platano        11   1.20
15  Manzana        12   0.80
16  Naranja         6   0.78
17  Platano        14   1.15
18  Manzana        10   0.93
19  Naranja         3   0.42
20  Platano         8   1.05
21  Manzana         7   0.85
22  Naranja         4   0.58
23  Platano        15   1.12
24  Manzana        16   0.78
25  Naranja         7   0.65
26  Platano        10   1.22
27  Manzana         9   0.90
28  Naranja         5   0.47
29  Platano        12   1.18
30  Manzana        13   0.85
31  Naranja         4   0.53
32  Platano         9   1.10
33  Manzana         8   0.95
34  Naranja         6   0.62
35  Platano        13   1.05
36  Manzana        15   0.88
37  Naranja         5   0.55
38  Platano        11   1.15
39  Manzana        10   0.78
40  Naranja         3   0.40
41  Platano         8   1.02
42  Manzana        12   0.85
43  Naranja         7   0.72
44  Platano         9   1.18
45  Manzana         6   0.80
46  Naranja         4   0.48
47  Platano        16   1.10

In [4]:
# Calculamos el total de ventas para cada producto.
# Para esto, primero creamos una nueva columna 'Total' que es el producto de 'Cantidad' y 'Venta'
df['Total'] = df['Cantidad'] * df['Venta']

In [5]:
# Luego, agrupamos por 'Producto' y sumamos 'Total'
df_total = df.groupby('Producto')['Total'].sum().reset_index()

In [6]:
# Mostramos el DataFrame de totales para revisi贸n.
print("\nDataFrame de totales de ventas:")
print(df_total)

DataFrame de totales de ventas:
  Producto   Total
0  Manzana  149.48
1  Naranja   45.34
2  Platano  202.80

In [7]:
# Finalmente, escribimos el DataFrame de totales a un nuevo archivo CSV.
df_total.to_csv('total_ventas.csv', index=False)